@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@600;700&family=Roboto:wght@100;300;400;500;700&display=swap');
--root{
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

/* nav bar styling */

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 1rem;
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2.5rem;
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.nav-list >li{
  gap: 1rem;
}

.nav-list > li > a{
  color: #000000;
  margin-left: 1rem;
}


.nav-list>li>a:hover{
  color:#1B8036;
 
}

.navbtn > button{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ffffff;
  background: #1B8036;
  font-size: 1.2rem;
  border: none;
  outline: none;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
}
/* nav bar ends */
 
  .top-left {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   text-align: center;
   padding-top: 4rem;
  }

  .content1 {
    text-align: left;
  }

  .content1 > h1{
    font-family: 'Red Hat Display', sans-serif;
    color: #1B8036;
    /* padding: 1.5rem; */
    font-size: 4rem;
    font-weight: 700;
  }

  .content1 > p {
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;

  }

  .contentButton > button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ffffff;
    background: #1B8036;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
  }

  .contentButton {
    margin-left: 15px;
  }

  .bottom-right {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 4rem 0;
  }

  .content2 > p {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 2rem;
  }

  .content2 > h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  #picture {
    width: 30%;
    height: 20%;
    padding-bottom: 50px;
  }

  .content3 > ul {
    color: #c4c4c4;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: left;
    padding: 0.5rem;
  }

  .content3 > h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
  }

  .content3 > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0.5rem;
    line-height: 2rem;
  }

  .content3 {
    margin-left: 70px;
    text-align: center;
  }


  .bottom_right1 {
    display: flex;
    align-items: flex-start;
  }

  .content4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 4rem;
  }

  .content5 {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 6rem 0;
  }

  .content5_text > h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1b1b1b;
    padding: 2rem 0;
  }

  .content5_text > h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #0c0c0c;
  }

  .content5_text > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color: #7c7c7c;
    padding: 2rem 0 0 0 ;
  }

  .content5_text {
    align-self: flex-start;
  }


  .our_products > h2 {
    text-align: center;
    padding: 4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #137212;
  }

  .right_content4 > h2 {
    padding: 2rem 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1b1b1b;
  }

  .right_content4 > h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #0c0c0c;
  }

  .right_content4 > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color: #7c7c7c;
    padding: 2rem 0 0.1rem 0 ;
  }

  .demo_button > button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #ffffff;
    background: #1B8036;
    font-size: 1.2rem;
    border: none;
    outline: none;
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
  }

  .demo_button {
    padding-top: 2rem;
  }

hr {
  width: 80%;
  margin: auto;
}

.content6 {
  padding: 2rem;
}

.frequently {
  text-align: center;
  padding-bottom: 4rem;
}

.subscribe_container {
  background: linear-gradient(100.66deg, #1B8036 23.13%, rgba(8, 63, 26, 0.92) 82.12%, rgba(8, 63, 26, 0.86) 97.79%);
  border-radius: 5px;
  
}
.formdiv{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}
.formdiv > h2{
  font-size: 1.5rem;
  color: #ffffff;
}

.post{
background: #ffffff;
width: 50%;
padding: 0.4rem;
display: flex;
align-items: center;
justify-content: space-between;
border-radius: 6.6rem;

}
.post > input{
  background: #ffffff;
  border: none;
  padding: 1rem;
  outline: none;
  font-size: 1.2rem;
  border-radius: 30px;
}

.post> label{
  font-size: 1.2rem;
  font-family: 'Red Hat Display';
  line-height: 1.6rem;
  color: #ffffff;
  background: #137212;
  padding: 0.9rem 1rem ;
  border-radius: 6.6rem;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  background: linear-gradient(100.66deg, #1B8036 23.13%, rgba(8, 63, 26, 0.92) 82.12%, rgba(8, 63, 26, 0.86) 97.79%);
}

.footer_text {
  align-self: flex-start;
}

 h4 {
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
 line-height: 2rem;
 color: #ffffff;
} 

.icon_links > i {
  color: #ffffff;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  padding-top: 1rem;
}

.lists {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
  font-size: 0.7rem;
  color: #ffffff;
}

.footer_logo {
  height: 4rem;
}

.footer_spatium {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
  color: #f5f5f5;
  line-height: 1rem;
}

/* #head_text {
  text-align: left;
}

#head_text2 {
  text-align: left;
} */